.navbar{
    background-color: $primary-grey;
    color: $primary-black;
    height: 38px;
    text-align: center;

    .navbar.button{
        background-color: $primary-grey;    
        margin-right: 10px; 
        margin-left: 10px;   
        border:none;
        font-size: $font-size-small;  
        transition-duration: 0.4s;
           
        &:hover{
            background-color: $primary-white;
            cursor: pointer;
            box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
        }
        &.active{
            background-color: $primary-white;
        }

    }
}